<div class="animate-bounce w-6 h-6">
<span class="relative inline-flex overflow-hidden rounded-full p-[1px] drop-shadow-lg">
  <div class=
    "
      inline-flex
      items-center
      justify-center
      w-full
      px-3
      py-1
      text-sm
      rounded-full
      cursor-pointer
      text-white
      dark:text-white/80
      whitespace-nowrap
      bg-[#42b883]
      hover:bg-gradient-to-r from-[#42b883] to-[#0ebbd2]
      hover:text-white
      font-semibold
      transition
    "
  >
    <slot />
  </div>
</span>
</div>